<header>
  <nav class="navbar">
    <div class="logo">
      <a href="/">
        <img
          src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/gfg_200x200-min.png"
          alt="gfg_logo"
        />
      </a>
    </div>
    <div class="hamburger-menu">
      <span class="line"></span>
      <span class="line"></span>
      <span class="line"></span>
    </div>
    <div class="nav-menu hide">
      <a href="/">Home</a>
      <a href="/profiles">Profiles</a>
      <a href="/messages">Messages</a>
      <a href="/notifications">Notifications</a>
      <a href="/userAccount">My Account</a>
      <a href="/login">Login</a>
    </div>
  </nav>
</header>
