* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}
::-webkit-scrollbar {
  display: none;
}
body {
  font-family: sans-serif;
  padding: 10px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* navbar styling */
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.8rem;
  border-bottom: 2px solid #403d39;
}

.row {
  display: flex;
}

.column {
  padding: 10px;
  border-right: 2px solid #403d39; /* Add a vertical line to the right of each column */
  padding-right: 10px; /* Optional padding for better spacing */
  min-height: 100vh;
}

.column.side {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/* Middle column */
.column.middle {
  -webkit-flex: 2;
  -ms-flex: 2;
  flex: 2;
}

.column:last-child {
  border-right: none; /* Remove the right border from the last column */
}

.footer {
  background-color: #f1f1f1;
  padding: 10px;
  text-align: center;
}

/* logo style */
.logo img {
  width: 11rem;
  height: 7.365rem;
  margin-left: 1rem;
}

.hamburger-menu {
  padding-right: 1.5rem;
  cursor: pointer;
}

.hamburger-menu .line {
  display: block;
  width: 2.5rem;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 94%;
  top: 6rem;
  left: 18px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}
.nav-menu a {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.nav-menu a:hover {
  background-color: rgb(223, 251, 219);
}

.hide {
  display: none;
}

/* CSS for the logout button */
.logout-button {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block; /* Change display to inline-block */
  text-align: center;
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.logout-button:hover {
  background-color: #f9b061; /* Hover background color (if different) */
  /* Add any other hover styles if needed */
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid rgb(0, 149, 255);
  padding: 1rem;
  border-radius: 3px;
  background: cyan;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
}
.user-message--success {
  border-color: #22bb33;
  background: #6fbe78;
}

/* from Home.css */

.container {
  background-color: white;
  border-radius: 10px; /* Adjust the value to control the roundness of the corners */
  padding: 20px; /* Adjust the padding to control the content spacing */
  margin: 20px; /* Adjust the margin to control the space around the card */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add a shadow for a lifted effect */
  position: relative;
}
.avatar {
  float: left; /* Left alignment */
  border-radius: 50%; /* Makes the image circular */
  margin-right: 15px; /* Right margin for spacing */
  width: 60px; /* Set the width to 60px */
}

/* set the date to top */
.date {
  opacity: 0.7;
  position: absolute; /* Position the date element absolutely */
  top: 15px; /* Adjust the top value for desired spacing */
  right: 15px; /* Adjust the right value for desired spacing */
}

.clear-hr {
  clear: both; /* Clear both left and right floated elements */
}

.button {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  padding: 12px 38px; /* Padding for button size */
  border: none; /* Remove border */
  border-radius: 7px; /* Rounded corners */
  margin-bottom: none; /* Margin at the bottom for spacing */
  transition: background-color 0.3s; /* Smooth transition for background color */
}

.button:hover {
  background-color: #f9b061; /* Background color on hover */
}
/* end home.css */

/* for Desktop view */
@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover {
    background-color: #f9b061;
    border-radius: 5px;
  }
  .hamburger-menu {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}

@media (max-width: 600px) {
  .row {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
