* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.4s;
}
body {
  font-family: sans-serif;
}
a {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
}

/* navbar styling */
.navbar {
  display: flex;
  height: 5rem;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  border-bottom: 2px solid rgb(223, 251, 219);
}

/* logo style */
.logo img {
  width: 11rem;
  height: 7.365rem;
  margin-left: 1rem;
}

.hamburger-menu {
  padding-right: 1.5rem;
  cursor: pointer;
}

.hamburger-menu .line {
  display: block;
  width: 2.5rem;
  height: 2px;
  margin-bottom: 10px;
  background-color: black;
  cursor: pointer;
}

.nav-menu {
  position: fixed;
  width: 94%;
  top: 6rem;
  left: 18px;
  background-color: rgb(255, 255, 255);
  font-weight: 600;
}
.nav-menu a {
  display: block;
  text-align: center;
  padding: 5px 0;
}
.nav-menu a:hover {
  background-color: rgb(223, 251, 219);
}

.hide {
  display: none;
}

/* CSS for the logout button */
.logout-button {
  text-decoration: none;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  display: inline-block; /* Change display to inline-block */
  text-align: center;
  padding: 15px 20px;
  background-color: white;
  border-radius: 5px;
  border: none;
}

.logout-button:hover {
  background-color: rgb(
    223,
    251,
    219
  ); /* Hover background color (if different) */
  /* Add any other hover styles if needed */
}

.main-header {
  width: 100%;
  height: 3.5rem;
  background-color: #00695c;
  padding: 0 1.5rem;
  display: flex;
  align-items: center;
}

.main-header__nav {
  height: 100%;
  width: 100%;
  display: none;
  align-items: center;
  justify-content: space-between;
}

.main-header__item-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.user-message {
  margin: auto;
  width: 90%;
  border: 1px solid rgb(0, 149, 255);
  padding: 1rem;
  border-radius: 3px;
  background: cyan;
  text-align: center;
}

.user-message--error {
  border-color: red;
  background: rgb(255, 176, 176);
}
.user-message--success {
  border-color: #22bb33;
  background: #6fbe78;
}
/* for Desktop view */
@media screen and (min-width: 768px) {
  .navbar {
    justify-content: space-around;
  }
  .nav-menu {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
    background: none;
  }
  .nav-menu a {
    display: inline-block;
    padding: 15px 20px;
  }
  .nav-menu a:hover {
    background-color: rgb(223, 251, 219);
    border-radius: 5px;
  }
  .hamburger-menu {
    display: none;
  }

  .user-message {
    width: 30rem;
  }
}
