<%- include('../includes/head.ejs') %>
  </head>
  
  <body>
    <%- include('../includes/navigation.ejs') %>
    
    <main>
      <div class="row">
        <div class="column side custom-background"><h1>Your Account</h1></div>
        <div class="column middle custom-background"> 
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
               <h1 style="text-align: center;">More content</h1>
        </div>
        <div class="column side custom-background">column</div>
 </div>
        <div class="footer">
        <p>Footer</p>
        </div>
    </main>
<%- include('../includes/end.ejs') %>